name: Publish Package on NPM

on:
  push:
    branches: ['main']
    paths: ['lib/**']
  workflow_dispatch:
  
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun i --frozen-lockfile
      - run: bun run build
      - run: cp README.md lib/README.md
      - uses: actions/setup-node@v4
        with:
          node-version: latest
      - uses: JS-DevTools/npm-publish@v4
        with:
          package: lib